.container {
  max-width: 1110px;
}

.hero-section {
  grid-template-areas:
    "imageArea"
    "contentArea";
  grid-template-rows: minmax(337px, auto);
  gap: 24px;
  overflow: unset;
}

.hero-section .image-area {
  grid-area: imageArea;
  background-image: url('/illustrations/illustration-working.svg');
  background-size: 511px 337px;
  background-repeat: no-repeat;
  background-position: left 24px center;
}

.hero-section .content-area {
  grid-area: contentArea;
}

.short-url-section .bg {
  height: calc(100% - 101px);
  bottom: 0;
}

.short-url-section .form-area {
  background-image: url('../assets/bg/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.short-url-section label.error .error {
  display: block;
}

.short-url-section .error input {
  border-color: #f46262;
}

.short-url-section .error input::placeholder {
  color: #f46262;
  opacity: .25;
}

.adv-stats article .img-container {
  top: -44px;
  left: calc(50% - 44px);
}

.adv-stats .bg-line {
  top: 0;
  left: calc(50% - 4px);
}

.banner {
  background-image: url('../assets/bg/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-footer object svg {
  fill: white;
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: url('../assets/bg/bg-boost-desktop.svg');
  }

  .hero-section {
    grid-template-areas: "contentArea imageArea";
    grid-template-rows: minmax(482px, auto);
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section .image-area {
    background-size: 733px 482px;
    background-repeat: no-repeat;
    height: 482px;
    width: calc(50% - 24px);
    position: absolute;
    left: calc(50% + 24px);
  }

  .short-url-section .form-area {
    background-image: url('../assets/bg/bg-shorten-desktop.svg');
    background-size: auto 100%;
    padding: 32px 44px;
  }

  .short-url-section .form-area form {
    grid-template-columns: auto 188px;
  }

  .short-url-section .shorten-link {
    align-items: center;
    grid-template-columns: auto 103px;
  }

  .short-url-section .content {
    align-items: center;
    grid-template-columns: 40% 60%;
  }

  .adv-stats .cards {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: minmax(326px, auto); */
    gap: 1.875rem;
    align-items: flex-start;
  }

  .adv-stats .cards article:nth-child(3) {
    /* align-self: center; */
    margin-top: 68px;
  }

  .adv-stats .cards article:nth-child(4) {
    /* align-self: flex-end; */
    margin-top: 96px;
  }

  .adv-stats .bg-line {
    top: 156px;
    left: 1.5rem;
    height: .5rem;
    width: calc(100% - 3rem);
  }

  .main-footer .container {
    grid-template-columns: 188px auto 188px;
    justify-content: unset;
  }

  .main-footer .container ul {
    max-width: 440px;
    justify-self: center;
  }

  .main-footer .container ul li {
    transition: color .13s;
  }

  .main-footer svg path {
    transition: fill .13s;
    cursor: pointer;
  }

  .adv-stats article .img-container {
    left: 1.5rem;
  }

  .social-links a:hover div svg path,
  .social-links a:active div svg path {
    fill: #2acfcf;
  }
}