@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  z-index: -1;
  user-select: none;
  overflow: hidden;
}

button,
a,
img {
  outline: none !important;
}